.action {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px;
}
.actions-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


input[type="checkbox"].switch{
  appearance: none;
  width: 3.5em;
  height: 1.5em;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].switch:checked{
  background: #0ebeff;
}

input[type="checkbox"].switch:after{
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 .25em rgba(0,0,0,.3);
  transform: scale(.7);
  left: 0;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].switch:checked:after{
  left: calc(100% - 1.5em);
}
.textorange{
  color: #f00;
  display: flex;

}